@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["AccessDenied"];
}

<h1 class="text-danger">@Localizer["AccessDenied"]</h1>
<p>@Localizer["You do not have permission to access this page."]</p>
